//**** Path: sass/_components.scss
//::::: Element & components specific & reusable styles

body {
  font-family: $body-font;
  background-color: $body-bg;
}


#calculator {
  width: $calc-width;
  box-shadow: $calc-box-shadow;

  #display {
    font-family: $display-font;
    font-size: $display-fs;
  }

  button {
    font-family: $btn-font;
    font-size: $btn-fs;
    height: $btn-height;
    border: $btn-border;
  }

  .calc-gif {
    height: $calc-gif-height;
  }

  //>>> Iterate over all button IDs
  @each $id in $all-btn-ids {

    //--- Check if the current ID is not in the list of IDs to exclude
    @if not index($exclude-btn-ids, $id) {

      //--- Apply the following styles to non-excluded buttons
      ##{$id} {
        color: #333;
      }
    }

    //--- If the current ID is in the list of IDs to exclude
    @if index($exclude-btn-ids, $id) {

      //--- Apply the following styles to excluded buttons
      ##{$id} {
        font-size: $exclude-btn-fs;
        padding-top: .625rem !important;
      }
    }
  }
}


footer {
  font-size: $footer-fs;

  .credit {
    font-size: $footer-credit-fs;
  }

  a {
    color: $footer-a-color;
    text-decoration: none;
    font-weight: 500;

    &:hover,
    &:focus-visible {
      color: $footer-a-hover-color;
      text-decoration: $footer-a-u-color underline;
      text-decoration-thickness: $footer-a-u-thickness;
      text-underline-offset: $footer-a-u-offset;
    }

    &:active {
      color: $footer-a-active-color;
    }
  }
}